<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps</title>
</head>
<body>
    <h1>ubicación</h1>
    <p>Hospital Regional Asunción <br> Hospital Regional Asunción</p>
    <a href="../index.html">« Volver a la pagina principal</a>
    <hr>
   
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.2174468829544!2d-85.36448975310225!3d12.097261059961058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f7363dcea1b9aa5%3A0xd164e74ddcd232da!2s3JXP%2B38C%20Hospital%20Regional%20Asunci%C3%B3n%2C%20NIC-7%2C%20Juigalpa!5e0!3m2!1ses-419!2sni!4v1668482471995!5m2!1ses-419!2sni" width="400" height="300" style="border:0;" allowfullscreen=""
     loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
     <p>Hospital centro medico <br> centro medico</p>
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15604.33847365834!2d-85.3831471921875!3d12.106359500000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f7363e8c08acac7%3A0x9471b7e1f733fa4d!2sCentro%20M%C3%A9dico%20Juigalpa!5e0!3m2!1ses-419!2sni!4v1668482700137!5m2!1ses-419!2sni" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
                        
</body>
</html>