<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Telefono</h4>
            <p>+505 86258190</p>
        </div>
        <div class="content-foo">
            <h4>Email</h4>
            <p>lcruz.eve@gmail.com</p>
        </div>
        <div class="content-foo">
            <h4>Direccion</h4>
            <p>Los Chiles, San Carlos, Río San Juan.</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; Diseños Web | Eveling Cruz</h2>
</footer>
</body>
</html>